In [21]:
import pandas as pd

data = pd.read_csv('repec_with_gender.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748225 entries, 0 to 748224
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   JEL Subject           748225 non-null  object
 1   Title                 748225 non-null  object
 2   Journal               284224 non-null  object
 3   Year                  747317 non-null  float64
 4   Type                  748225 non-null  object
 5   URL                   748225 non-null  object
 6   Author(s)             748225 non-null  object
 7   author_name           748225 non-null  object
 8   co_authors            748225 non-null  object
 9   short_id              748225 non-null  object
 10  institution           748225 non-null  object
 11  share_pct             748225 non-null  int64
 12  location              748225 non-null  object
 13  repec_institution_id  748225 non-null  object
 14  author_url            748225 non-null  object
 15  match_type            748225 non-null  object
 16  gender                748225 non-null  object
dtypes: float64(1), int64(1), object(15)
memory usage: 97.0+ MB

In [22]:
# descriptive statistics of the numerical data

data.describe()

                Year      share_pct
count  747317.000000  748225.000000
mean     2019.155383      61.040495
std         4.673924      40.900712
min      1968.000000       1.000000
25%      2017.000000      10.000000
50%      2020.000000      80.000000
75%      2022.000000     100.000000
max      2101.000000     100.000000

In [23]:
data.head()

,JEL Subject,Title,Journal,Year,Type,URL,Author(s),author_name,co_authors,short_id,institution,share_pct,location,repec_institution_id,author_url,match_type,gender
0,A,Preparing students for careers using business ...,NaN,2020.0,Working Paper,https://econpapers.repec.org/paper/aahaarhec/2...,Nielsen Steen,"Nielsen, Steen",Aucun,pni71,Institut for Økonomi Aarhus Universitet,100,"Aarhus, Denmark",edi:ifoaudk,https://ideas.repec.org/e/pni71.html,exact,male
1,A,"Measuring Democracy - Eight indices: Polity, F...",NaN,2021.0,Working Paper,https://econpapers.repec.org/paper/aahaarhec/2...,Paldam Martin,"Paldam, Martin",Aucun,ppa574,School of Economics and Management Institut fo...,100,"Aarhus, Denmark",edi:anaaudk,https://ideas.repec.org/f/ppa574.html,exact,male
2,A,Oeconstudiet og den ÃÂ¸konomiske faggruppe ve...,NaN,2023.0,Working Paper,https://econpapers.repec.org/paper/aahaarhec/2...,Hylleberg Svend,"Hylleberg, Svend",Aucun,phy1,Center for Research in Econometric Analysis of...,100,"Aarhus, Denmark",edi:creaudk,https://ideas.repec.org/e/phy1.html,exact,male
3,A,Growth and Productivity in the Americas,AEI Economic Perspectives,2024.0,Journal Article,https://econpapers.repec.org/article/aeijournl...,Frost Jon,"Frost, Jon",Aucun,pfr218,Cambridge Centre for Alternative Finance Judge...,5,"Cambridge, United Kingdom",edi:cafcauk,https://ideas.repec.org/f/pfr218.html,exact,male
4,A,How Do Truckers Perceive and Respond to the Ri...,AEI Economic Perspectives,2024.0,Journal Article,https://econpapers.repec.org/article/aeijournl...,Strain Michael,"Strain, Michael R.",Aucun,pst593,Institute of Labor Economics (IZA),3,"Bonn, Germany",edi:izaaade,https://ideas.repec.org/f/pst593.html,exact,male

In [24]:
# dans la colonne 'gender' remplacer male par 0 et female par 1 et unknown par NaN

import numpy as np

# Définition du dictionnaire de mapping
mapping = {
    'male': 0,
    'female': 1,
    'unknown': np.nan
}

# Application du mapping sur la colonne 'gender'
data['gender'] = data['gender'].map(mapping)

In [25]:
# faire de meme pour type

mapping = {
    'Journal Article': 1,
    'Working Paper': 0,
    'unknown': np.nan
}

# Application du mapping sur la colonne 'gender'
data['Type'] = data['Type'].map(mapping)

In [26]:
data.drop_duplicates(inplace=True)

In [27]:
data.describe()

                Year           Type      share_pct         gender
count  735668.000000  736568.000000  736568.000000  666426.000000
mean     2019.149531       0.380280      61.038994       0.234697
std         4.680143       0.485456      40.888499       0.423809
min      1968.000000       0.000000       1.000000       0.000000
25%      2017.000000       0.000000      10.000000       0.000000
50%      2020.000000       0.000000      80.000000       0.000000
75%      2022.000000       1.000000     100.000000       0.000000
max      2101.000000       1.000000     100.000000       1.000000