In [140]:
df1=pd.read_csv("data_A_Z.csv")
df2=pd.read_csv("RePEc_Full_A_B.csv")

In [133]:
sum(df2["Author(s)"].isna())

3780

In [59]:
df1.head()

,author_name,short_id,institution,share_pct,location,repec_institution_id,author_url
0,"Antelius, Jesper",pan241,Riksrevisionen Government of Sweden,NaN,"Stockholm, Sweden",edi:srrgvse,https://ideas.repec.org/f/pan241.html
1,"Alan, Sule",pal184,Department of Economics European University In...,73%,"Firenze, Italy",edi:deiueit,https://ideas.repec.org/e/pal184.html
2,"Antell, Jan Wilhelm",pan150,Hanken Svenska Handelshögskolan,NaN,"Helsinki, Finland",edi:shhhhfi,https://ideas.repec.org/e/pan150.html
3,"Antelo, Manel",pan291,Departamento de Fundamentos da Análise Económi...,NaN,"Santiago de Compostela, Spain",edi:dfusces,https://ideas.repec.org/f/pan291.html
4,"Antenord, Jean-Baptiste",pan582,Lille Économie et Management (LEM),NaN,"Lille, France",edi:laborfr,https://ideas.repec.org/f/pan582.html

In [141]:
df2 = df2.dropna(subset=["Author(s)"])

In [142]:
df2["JEL Subject"].value_counts()

JEL Subject
A    20740
B    15300
D      240
C       20
Name: count, dtype: int64

In [139]:
df1[df1["author_name"]=="Seturi, Maia"]

Empty DataFrame
Columns: [author_name, short_id, institution, share_pct, location, repec_institution_id, author_url]
Index: []

In [35]:
pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.4.0-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.4.0-py3-none-any.whl (235 kB)
Installing collected packages: unidecode
Successfully installed unidecode-1.4.0
Note: you may need to restart the kernel to use updated packages.

In [143]:
import unidecode
import re

def clean_string(s):
    if not isinstance(s, str):
        return ""
    s = unidecode.unidecode(s.lower())
    s = re.sub(r"[^a-z\s]", " ", s)
    s = re.sub(r"\s+", " ", s).strip()
    return s

In [102]:
import unidecode
import re

def clean_string(s):
    if not isinstance(s, str):
        return ""
    s = unidecode.unidecode(s.lower())
    s = re.sub(r"[^a-z\s]", " ", s)
    s = re.sub(r"\s+", " ", s).strip()
    return s

In [144]:
df1["last_name_clean"] = (
    df1["author_name"]
    .str.split(",", n=1)
    .str[0]
    .apply(clean_string)
)

df1["first_name_clean"] = (
    df1["author_name"]
    .str.split(",", n=1)
    .str[1]
    .apply(clean_string)
)

In [145]:
df1["author_harmonized"] = (
    df1["first_name_clean"] + " " + df1["last_name_clean"]
).str.strip()

In [146]:
df1[["author_name", "author_harmonized"]].head(10)

               author_name       author_harmonized
0         Antelius, Jesper         jesper antelius
1               Alan, Sule               sule alan
2      Antell, Jan Wilhelm      jan wilhelm antell
3            Antelo, Manel            manel antelo
4  Antenord, Jean-Baptiste  jean baptiste antenord
5            Alaoui, Larbi            larbi alaoui
6             Aalbers, Rob             rob aalbers
7        Aalto, Aino-Maija        aino maija aalto
8        Aalto, Aino-Maija        aino maija aalto
9     Anthropelos, Michail     michail anthropelos

In [107]:
df2_auth = (
    df2
    .assign(author_raw=df2["Author(s)"].str.split(";"))
    .explode("author_raw")
)

df2_auth["author_raw"] = df2_auth["author_raw"].str.strip()

In [147]:
df2_auth[["Author(s)", "author_raw"]].head(20)

                                            Author(s)             author_raw
0                                                 NaN                    NaN
1                                                 NaN                    NaN
2                  Nielsen Erland Hejn; Nielsen Steen    Nielsen Erland Hejn
2                  Nielsen Erland Hejn; Nielsen Steen          Nielsen Steen
3                                       Paldam Martin          Paldam Martin
4                                     Hylleberg Svend        Hylleberg Svend
5                                    Andra Diaconescu       Andra Diaconescu
6                                     Biermann Marcus        Biermann Marcus
7                                  Forcada Sara Avila     Forcada Sara Avila
8                    Lassen Anne Sophie; IvandiÄ Ria     Lassen Anne Sophie
8                    Lassen Anne Sophie; IvandiÄ Ria           IvandiÄ Ria
9   Bansak Cynthia; Dunn Wendy; Meade Ellen; Starr...         Bansak Cynthia
9   Bansak Cynthia; Dunn Wendy; Meade Ellen; Starr...             Dunn Wendy
9   Bansak Cynthia; Dunn Wendy; Meade Ellen; Starr...            Meade Ellen
9   Bansak Cynthia; Dunn Wendy; Meade Ellen; Starr...           Starr Martha
10                                       Nelson Julie           Nelson Julie
11                                   Rubinstein Ariel       Rubinstein Ariel
12                                   Johnson Marianne       Johnson Marianne
13  Gelfer Sacha; Livingston Jeffrey A.; Roy Sutanuka           Gelfer Sacha
13  Gelfer Sacha; Livingston Jeffrey A.; Roy Sutanuka  Livingston Jeffrey A.

In [148]:
import unidecode
import re

def clean_string(s):
    if not isinstance(s, str):
        return ""
    s = unidecode.unidecode(s.lower())
    s = re.sub(r"[^a-z\s]", " ", s)
    s = re.sub(r"\s+", " ", s).strip()
    return s

In [149]:
df2_auth["author_harmonized"] = (
    df2_auth["author_raw"]
    .apply(clean_string)
)

In [151]:
df2_auth[["author_raw", "author_harmonized"]].head(15)

            author_raw    author_harmonized
0                  NaN
1                  NaN
2  Nielsen Erland Hejn  nielsen erland hejn
2        Nielsen Steen        nielsen steen
3        Paldam Martin        paldam martin
4      Hylleberg Svend      hylleberg svend
5     Andra Diaconescu     andra diaconescu
6      Biermann Marcus      biermann marcus
7   Forcada Sara Avila   forcada sara avila
8   Lassen Anne Sophie   lassen anne sophie
8         IvandiÄ Ria          ivandia ria
9       Bansak Cynthia       bansak cynthia
9           Dunn Wendy           dunn wendy
9          Meade Ellen          meade ellen
9         Starr Martha         starr martha

In [164]:
df1[df1["author_name"].str.contains("Blanchard", na=False)]

,author_name,short_id,institution,share_pct,location,repec_institution_id,author_url,last_name_clean,first_name_clean,author_harmonized,anchor_token
3156,"Blanchard, Michel",pbl84,"Équipe Universitaire de Recherche ""Institution...",NaN,"Paris, France",edi:eurp9fr,https://ideas.repec.org/e/pbl84.html,blanchard,michel,michel blanchard,blanchard
3158,"Blanchard, Olivier J",pbl2,Paris School of Economics,50%,"Paris, France",edi:eeparfr,https://ideas.repec.org/e/pbl2.html,blanchard,olivier j,olivier j blanchard,blanchard
3161,"Blanchard, Paul Baptiste",pbl255,Department of Economics Trinity College Dublin,NaN,"Dublin, Ireland",edi:detcdie,https://ideas.repec.org/f/pbl255.html,blanchard,paul baptiste,paul baptiste blanchard,blanchard

In [165]:
df2[df2["Author(s)"].str.contains("Blanchard", na=False)][
    ["Author(s)", "Title", "JEL Subject"]
].head()

,Author(s),Title,JEL Subject
16004,Kyte Sarah Blanchard; Riegle-Crumb Catherine,Perceptions of the Social Relevance of Science...,A
20228,Portugal Pedro; Blanchard Olivier,"Boom, Slump, Sudden stops, Recovery, and Polic...",A
30415,Blanchard Olivier,Should We Reject the Natural Rate Hypothesis?,B
33087,Kyte Sarah Blanchard; Riegle-Crumb Catherine,Perceptions of the Social Relevance of Science...,B

In [169]:
test_authors = [
    "Paldam, Martin",
    "Friebel, Guido",
    "Blanchard, Olivier J"
]

df1_test = df1[df1["author_name"].isin(test_authors)].copy()
df1_test

,author_name,short_id,institution,share_pct,location,repec_institution_id,author_url,last_name_clean,first_name_clean,author_harmonized,anchor_token
3158,"Blanchard, Olivier J",pbl2,Paris School of Economics,50%,"Paris, France",edi:eeparfr,https://ideas.repec.org/e/pbl2.html,blanchard,olivier j,olivier j blanchard,blanchard
8852,"Friebel, Guido",pfr44,Abteilung Management und Mikroökonomik Fachber...,90%,"Frankfurt am Main, Germany",edi:amffmde,https://ideas.repec.org/e/pfr44.html,friebel,guido,guido friebel,friebel
8853,"Friebel, Guido",pfr44,Institute of Labor Economics (IZA),5%,"Bonn, Germany",edi:izaaade,https://ideas.repec.org/e/pfr44.html,friebel,guido,guido friebel,friebel
19968,"Paldam, Martin",ppa574,School of Economics and Management Institut fo...,NaN,"Aarhus, Denmark",edi:anaaudk,https://ideas.repec.org/f/ppa574.html,paldam,martin,martin paldam,paldam

In [170]:
df2_test = df2[df2["Author(s)"].str.contains(
    "Paldam|Friebel|Blanchard", na=False
)].copy()

df2_test[["Author(s)", "Title", "JEL Subject"]].head(10)

,Author(s),Title,JEL Subject
3,Paldam Martin,"Measuring Democracy - Eight indices: Polity, F...",A
8991,Paldam Martin,Replik: Om Ã¦gte uenighed og spÃ¸g og skÃ¦mt,A
9687,Herbertsson Tryggvi; Paldam Martin,Does development aid help poor countries conve...,A
9902,Paldam Martin,The strategies of economic research - An empir...,A
10512,Martin Paldam,Methods Used in Economic Research: An Empirica...,A
10689,Guido Friebel; Nicola Fuchs-SchÃ¼ndeln; Alisa ...,Statusbericht zum Frauenanteil in der Volkswir...,A
16004,Kyte Sarah Blanchard; Riegle-Crumb Catherine,Perceptions of the Social Relevance of Science...,A
20228,Portugal Pedro; Blanchard Olivier,"Boom, Slump, Sudden stops, Recovery, and Polic...",A
21248,Paldam Martin,Methods used in economic research. An empirica...,A
21555,Auriol Emmanuelle; Friebel Guido; Weinberger A...,Women in Economics: Europe and the World,A

In [216]:
import re
import unidecode

def clean(s):
    if not isinstance(s, str):
        return ""
    s = unidecode.unidecode(s.lower())
    s = re.sub(r"[^a-z\s]", " ", s)
    s = re.sub(r"\s+", " ", s).strip()
    return s

In [217]:
df1 = df1.copy()

df1["last_name_clean"] = (
    df1["author_name"]
    .str.split(",", n=1)
    .str[0]
    .apply(clean)
)

df1["first_names_clean"] = (
    df1["author_name"]
    .str.split(",", n=1)
    .str[1]
    .apply(clean)
)

In [218]:
df1["tokens_df1"] = df1.apply(
    lambda r: set(
        (r["first_names_clean"] + " " + r["last_name_clean"]).split()
    ),
    axis=1
)

In [219]:
def drop_initials(tokens):
    return {t for t in tokens if len(t) > 1}

df1["tokens_df1"] = df1["tokens_df1"].apply(drop_initials)

In [220]:
df1["ambiguous_name"] = df1["tokens_df1"].apply(lambda x: len(x) <= 1)

In [ ]:
df1["tokens_df1"] = df1.apply(
    lambda r: set(
        (r["first_names_clean"] + " " + r["last_name_clean"]).split()
    ),
    axis=1
)

df1["tokens_df1"] = df1["tokens_df1"].apply(drop_initials)

In [ ]:
df2_auth = (
    df2
    .dropna(subset=["Author(s)"])
    .assign(author_raw=df2["Author(s)"].str.split(";"))
    .explode("author_raw")
)

df2_auth["author_raw"] = df2_auth["author_raw"].str.strip()

In [ ]:
df2_auth["author_clean"] = df2_auth["author_raw"].apply(clean)

df2_auth["tokens_df2"] = (
    df2_auth["author_clean"]
    .str.split()
    .apply(set)
    .apply(drop_initials)
)

In [223]:
def is_match(tokens1, tokens2):
    return (
        isinstance(tokens1, set)
        and isinstance(tokens2, set)
        and len(tokens1) > 0
        and tokens1.issubset(tokens2)
    )

In [183]:
test_authors = [
    "Paldam, Martin",
    "Friebel, Guido",
    "Blanchard, Olivier J"
]

df1_test = df1[df1["author_name"].isin(test_authors)]
df2_test = df2_auth[df2_auth["author_raw"].str.contains(
    "Paldam|Friebel|Blanchard", na=False
)]

In [224]:
df1_test[["author_name", "tokens_df1"]]
df2_test[["author_raw", "tokens_df2"]]

                 author_raw                tokens_df2
3             Paldam Martin          {martin, paldam}
8991          Paldam Martin          {martin, paldam}
9687          Paldam Martin          {martin, paldam}
9902          Paldam Martin          {martin, paldam}
10512         Martin Paldam          {martin, paldam}
10689         Guido Friebel          {guido, friebel}
16004  Kyte Sarah Blanchard  {blanchard, kyte, sarah}
20228     Blanchard Olivier      {olivier, blanchard}
21248         Paldam Martin          {martin, paldam}
21555         Friebel Guido          {guido, friebel}
21915         Friebel Guido          {guido, friebel}
24348         Paldam Martin          {martin, paldam}
25885         Paldam Martin          {martin, paldam}
28118         Paldam Martin          {martin, paldam}
28521         Martin Paldam          {martin, paldam}
30415     Blanchard Olivier      {olivier, blanchard}
30586         Paldam Martin          {martin, paldam}
30587         Paldam Martin          {martin, paldam}
30588         Paldam Martin          {martin, paldam}
30590         Paldam Martin          {martin, paldam}
33087  Kyte Sarah Blanchard  {blanchard, kyte, sarah}
38055         Paldam Martin          {martin, paldam}
39826         Paldam Martin          {martin, paldam}

In [236]:
df_author_paper[
    df_author_paper["Title"].str.contains(
        "Mass Reproducibility", na=False
    )
][["author_name", "Title"]]

,author_name,Title
8907,"de Gendre, Alexandra",Mass Reproducibility and Replicability: A New ...
8908,"Dupraz, Yannick J.",Mass Reproducibility and Replicability: A New ...
8909,"Dupraz, Yannick J.",Mass Reproducibility and Replicability: A New ...
8910,"Fiala, Lenka",Mass Reproducibility and Replicability: A New ...
8911,"Johannesson, Magnus",Mass Reproducibility and Replicability: A New ...
8912,"Wochner, Timo",Mass Reproducibility and Replicability: A New ...
8913,"Wochner, Timo",Mass Reproducibility and Replicability: A New ...
8914,"Louis, Philippe",Mass Reproducibility and Replicability: A New ...
8915,"Louis, Philippe",Mass Reproducibility and Replicability: A New ...
8916,"Totarelli, Maddalena",Mass Reproducibility and Replicability: A New ...
8917,"Salamanca, Nicolas",Mass Reproducibility and Replicability: A New ...
8918,"Hammar, Olle",Mass Reproducibility and Replicability: A New ...
8919,"Hammar, Olle",Mass Reproducibility and Replicability: A New ...
8920,"Bruns, Stephan B.",Mass Reproducibility and Replicability: A New ...
8921,"Buliskeria, Nino",Mass Reproducibility and Replicability: A New ...
8922,"Staubli, Stefan",Mass Reproducibility and Replicability: A New ...
8923,"Huebener, Mathias",Mass Reproducibility and Replicability: A New ...
8924,"Huebener, Mathias",Mass Reproducibility and Replicability: A New ...
8925,"Huebener, Mathias",Mass Reproducibility and Replicability: A New ...
8926,"Huber, Christoph",Mass Reproducibility and Replicability: A New ...
8927,"Tang, John P.",Mass Reproducibility and Replicability: A New ...
8928,"Firouzjaeiangalougah, Mojtaba",Mass Reproducibility and Replicability: A New ...
8929,"Elminejad, Ali",Mass Reproducibility and Replicability: A New ...
8930,"Huynh, Kim P.",Mass Reproducibility and Replicability: A New ...
8931,"Irsova, Zuzana",Mass Reproducibility and Replicability: A New ...
8932,"Bagues, Manuel F.",Mass Reproducibility and Replicability: A New ...
8933,"Baxa, Jaromir",Mass Reproducibility and Replicability: A New ...
8934,"Baxa, Jaromir",Mass Reproducibility and Replicability: A New ...
8935,"Louis, Philippe",Mass Reproducibility and Replicability: A New ...
8936,"Louis, Philippe",Mass Reproducibility and Replicability: A New ...
8937,"Jakobsson, Niklas",Mass Reproducibility and Replicability: A New ...
8938,"Havranek, Tomas",Mass Reproducibility and Replicability: A New ...
8939,"Castek, Ondrej",Mass Reproducibility and Replicability: A New ...
8940,"De Vera, Micole",Mass Reproducibility and Replicability: A New ...
8941,"Kjellsson, Gustav",Mass Reproducibility and Replicability: A New ...
8942,"Huynh, Toan Luu Duc",Mass Reproducibility and Replicability: A New ...
8943,"Dreber, Anna",Mass Reproducibility and Replicability: A New ...
8944,"Mario Rodriguez, Mario",Mass Reproducibility and Replicability: A New ...
8945,"Marcus, Jan",Mass Reproducibility and Replicability: A New ...
8946,"Margaryan, Shushanik",Mass Reproducibility and Replicability: A New ...
8947,"Leibing, Andreas",Mass Reproducibility and Replicability: A New ...
8948,"Leibing, Andreas",Mass Reproducibility and Replicability: A New ...
8949,"Leibing, Andreas",Mass Reproducibility and Replicability: A New ...

In [ ]:
matches = []

for _, r2 in df2_auth.iterrows():      # auteurs réels des papiers
    for _, r1 in df1.iterrows():       # auteurs RePEc
        if (
            not r1["ambiguous_name"]
            and is_match(r1["tokens_df1"], r2["tokens_df2"])
        ):
            matches.append({
                # Auteur (df1)
                "author_name": r1["author_name"],
                "short_id": r1["short_id"],
                "institution": r1["institution"],
                "share_pct": r1["share_pct"],
                "location": r1["location"],
                "repec_institution_id": r1["repec_institution_id"],
                "author_url": r1["author_url"],

                # Papier (df2)
                "Title": r2["Title"],
                "Journal": r2["Journal"],
                "Year": r2["Year"],
                "Type": r2["Type"],
                "JEL Subject": r2["JEL Subject"],
                "URL": r2["URL"]
            })

In [226]:
matches_df[matches_df["match"] == True]

,author_df1,author_df2,tokens_df1,tokens_df2,match
7,"Blanchard, Olivier J",Blanchard Olivier,"{olivier, blanchard}","{olivier, blanchard}",True
15,"Blanchard, Olivier J",Blanchard Olivier,"{olivier, blanchard}","{olivier, blanchard}",True
28,"Friebel, Guido",Guido Friebel,"{guido, friebel}","{guido, friebel}",True
32,"Friebel, Guido",Friebel Guido,"{guido, friebel}","{guido, friebel}",True
33,"Friebel, Guido",Friebel Guido,"{guido, friebel}","{guido, friebel}",True
51,"Friebel, Guido",Guido Friebel,"{guido, friebel}","{guido, friebel}",True
55,"Friebel, Guido",Friebel Guido,"{guido, friebel}","{guido, friebel}",True
56,"Friebel, Guido",Friebel Guido,"{guido, friebel}","{guido, friebel}",True
69,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
70,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
71,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
72,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
73,"Paldam, Martin",Martin Paldam,"{martin, paldam}","{martin, paldam}",True
77,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
80,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
81,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
82,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
83,"Paldam, Martin",Martin Paldam,"{martin, paldam}","{martin, paldam}",True
85,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
86,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
87,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
88,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
90,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True
91,"Paldam, Martin",Paldam Martin,"{martin, paldam}","{martin, paldam}",True

In [227]:
df1["anchor"] = df1["last_name_clean"]
df2_auth["anchor"] = df2_auth["author_clean"].str.split().str[0]

In [228]:
merged = df1.merge(
    df2_auth,
    on="anchor",
    how="left",
    indicator=True
)

In [229]:
merged["valid_match"] = merged.apply(
    lambda r: is_match(r["tokens_df1"], r["tokens_df2"]),
    axis=1
)

In [230]:
df_author_paper = merged[
    (merged["_merge"] == "both") &
    (merged["valid_match"] == True) &
    (~merged["ambiguous_name"])
].copy()

In [231]:
df_author_paper[
    df_author_paper["Title"].str.contains(
        "Mass Reproducibility", na=False
    )
][["author_name", "Title"]]

,author_name,Title
6578,"Bagues, Manuel F.",Mass Reproducibility and Replicability: A New ...
9807,"Bruns, Stephan B.",Mass Reproducibility and Replicability: A New ...
10485,"Baxa, Jaromir",Mass Reproducibility and Replicability: A New ...
10486,"Baxa, Jaromir",Mass Reproducibility and Replicability: A New ...
10608,"Buliskeria, Nino",Mass Reproducibility and Replicability: A New ...
20256,"Castek, Ondrej",Mass Reproducibility and Replicability: A New ...
23702,"Dreber, Anna",Mass Reproducibility and Replicability: A New ...
25275,"Dupraz, Yannick J.",Mass Reproducibility and Replicability: A New ...
25276,"Dupraz, Yannick J.",Mass Reproducibility and Replicability: A New ...
26530,"Elminejad, Ali",Mass Reproducibility and Replicability: A New ...
29699,"Fiala, Lenka",Mass Reproducibility and Replicability: A New ...
30305,"Firouzjaeiangalougah, Mojtaba",Mass Reproducibility and Replicability: A New ...
37583,"Havranek, Tomas",Mass Reproducibility and Replicability: A New ...
39069,"Hammar, Olle",Mass Reproducibility and Replicability: A New ...
39074,"Hammar, Olle",Mass Reproducibility and Replicability: A New ...
40742,"Huber, Christoph",Mass Reproducibility and Replicability: A New ...
41125,"Huebener, Mathias",Mass Reproducibility and Replicability: A New ...
41126,"Huebener, Mathias",Mass Reproducibility and Replicability: A New ...
41127,"Huebener, Mathias",Mass Reproducibility and Replicability: A New ...
41784,"Huynh, Kim P.",Mass Reproducibility and Replicability: A New ...
41815,"Huynh, Toan Luu Duc",Mass Reproducibility and Replicability: A New ...
42847,"Irsova, Zuzana",Mass Reproducibility and Replicability: A New ...
42934,"Johannesson, Magnus",Mass Reproducibility and Replicability: A New ...
44590,"Jakobsson, Niklas",Mass Reproducibility and Replicability: A New ...
51413,"Kjellsson, Gustav",Mass Reproducibility and Replicability: A New ...
53380,"Leibing, Andreas",Mass Reproducibility and Replicability: A New ...
53381,"Leibing, Andreas",Mass Reproducibility and Replicability: A New ...
53382,"Leibing, Andreas",Mass Reproducibility and Replicability: A New ...
68569,"Marcus, Jan",Mass Reproducibility and Replicability: A New ...
68709,"Margaryan, Shushanik",Mass Reproducibility and Replicability: A New ...
98672,"Salamanca, Nicolas",Mass Reproducibility and Replicability: A New ...
103309,"Staubli, Stefan",Mass Reproducibility and Replicability: A New ...
113079,"Totarelli, Maddalena",Mass Reproducibility and Replicability: A New ...
114421,"Tang, John P.",Mass Reproducibility and Replicability: A New ...
122513,"Wochner, Timo",Mass Reproducibility and Replicability: A New ...
122514,"Wochner, Timo",Mass Reproducibility and Replicability: A New ...

In [192]:
merged_final["_merge"].value_counts()

_merge
left_only     19188
both           8144
right_only        0
Name: count, dtype: int64

In [193]:
merged_final[merged_final["_merge"] == "both"][
    ["author_name", "author_raw", "Title", "JEL Subject"]
].sample(10, random_state=0)

,author_name,author_raw,Title,JEL Subject
89225,"Radu, Valentin",Radu Valentin,"Entrepreneurial Resilience, Factor of Influenc...",A
99790,"Shahbaz, Muhammad",Shahbaz Muhammad,Financial Development-Environmental Degradatio...,A
24883,"Dullien, Sebastian",Dullien Sebastian,StÃ¤rken und SchwÃ¤chen der Modern Monetary Th...,B
104412,"Strain, Michael R.",Strain Michael,Explaining Differences in Pandemic Inflation A...,A
575,"Aldea, Anamaria",Aldea Anamaria Beatrice,Studentsâ Perceptions of Remote Work After C...,A
115366,"Tol, Richard S.J.",Tol Richard,Neoclassical views on Environmental Economics,B
33228,"Gilardone, Muriel",Gilardone Muriel,"""Positional Views"" as the Cornerstone of Sen's...",B
5816,"Anger, Silke",Anger Silke,Developing SOEPsurvey and SOEPservice: The (Ne...,A
39192,"Herings, P. Jean-Jacques",Herings P. Jean-Jacques,Horizon-K Farsightedness in Criminal Networks,A
89798,"Roman, Monica",Roman Monica,Two-Speed Integration? A Comparative Analysis ...,B

In [196]:
merged_final.columns

Index(['author_name', 'short_id', 'institution', 'share_pct', 'location',
       'repec_institution_id', 'author_url', 'last_name_clean',
       'first_name_clean', 'author_harmonized', 'anchor_token',
       'first_names_clean', 'tokens_df1', 'ambiguous_name', 'anchor',
       'JEL Subject', 'Title', 'Author(s)', 'Journal', 'Year', 'Type',
       'Affiliations', 'URL', 'author_raw', 'author_clean', 'tokens_df2',
       '_merge', 'valid_match'],
      dtype='object')

In [199]:
cols_keep = [
    # Auteur (registre)
    "author_name",
    "short_id",
    "institution",
    "share_pct",
    "location",
    "repec_institution_id",
    "author_url",

    # Publication
    "Title",
    "Journal",
    "Year",
    "Type",
    "JEL Subject",
    "URL",

    # Résultat du matching
    "valid_match"
]

In [200]:
df_final = merged_final[cols_keep].copy()

In [202]:
df_final.head()

,author_name,short_id,institution,share_pct,location,repec_institution_id,author_url,Title,Journal,Year,Type,JEL Subject,URL,valid_match
0,"Antelius, Jesper",pan241,Riksrevisionen Government of Sweden,NaN,"Stockholm, Sweden",edi:srrgvse,https://ideas.repec.org/f/pan241.html,NaN,NaN,NaN,NaN,NaN,NaN,False
1,"Alan, Sule",pal184,Department of Economics European University In...,73%,"Firenze, Italy",edi:deiueit,https://ideas.repec.org/e/pal184.html,Social Status in Student Networks and Implicat...,NaN,2021.0,Working Paper,A,https://econpapers.repec.org/paper/cesceswps/_...,True
2,"Antell, Jan Wilhelm",pan150,Hanken Svenska Handelshögskolan,NaN,"Helsinki, Finland",edi:shhhhfi,https://ideas.repec.org/e/pan150.html,NaN,NaN,NaN,NaN,NaN,NaN,False
3,"Antelo, Manel",pan291,Departamento de Fundamentos da Análise Económi...,NaN,"Santiago de Compostela, Spain",edi:dfusces,https://ideas.repec.org/f/pan291.html,NaN,NaN,NaN,NaN,NaN,NaN,False
4,"Antenord, Jean-Baptiste",pan582,Lille Économie et Management (LEM),NaN,"Lille, France",edi:laborfr,https://ideas.repec.org/f/pan582.html,NaN,NaN,NaN,NaN,NaN,NaN,False

In [203]:
df_final1=df_final.dropna(subset=["Title"])

In [211]:
titles_multi = (
    df_final["Title"]
    .value_counts()
    .loc[lambda x: x > 1]
)

titles_multi.head(10)

Title
Non-Standard Errors                                                                                     78
Mass Reproducibility and Replicability: A New Hope                                                      36
Conventional Wisdom, Meta-Analysis, and Research Revision in Economics                                  32
Pre-Registration and Pre-Analysis Plans in Experimental Economics                                       31
Adams and Eves: The Gender Gap in Economics Majors                                                      30
Introduction                                                                                            28
Mise en place dâune expÃ©rience avec le grand public: entre recherche, vulgarisation et pÃ©dagogie    22
Liquidity Traps and Large-Scale Financial Crises                                                        21
Three decades of publishing research in population economics                                            20
Stagnierende Wohneigentumsquote, Share Deals: Wie sollte die Grunderwerbsteuer reformiert werden?       20
Name: count, dtype: int64

In [213]:
df2[df2["Title"]=="Mass Reproducibility and Replicability: A New Hope"]

,JEL Subject,Title,Author(s),Journal,Year,Type,Affiliations,URL
39525,B,Mass Reproducibility and Replicability: A New ...,Brodeur Abel; Mikola Derek; Cook Nikolai,NaN,2024.0,Working Paper,NaN,https://econpapers.repec.org/paper/izaizadps/d...
39726,B,Mass Reproducibility and Replicability: A New ...,Brodeur Abel; Mikola Derek; Cook Nikolai; Brai...,NaN,2024.0,Working Paper,NaN,https://econpapers.repec.org/paper/zbwi4rdps/1...